<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="/styles/style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    
    <!-- Bootstrap stuff don't touch -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Roboto+Condensed" rel="stylesheet">
    

    <title>Choosey Boy</title>

</head>

<body class="test">

    <div class="container"> <!--Beginning of grid-->
        
        <div class="row">
            <blockquote class="logotext">Choosey&nbsp;Boy</blockquote>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col-6 maincon">
                <!--header ends here -->