.test {
    background-color:#625d8e;
    justify-content: center;
    background-image: url("square_bg.png");
}

.logotext{
    padding: 1rem;
    font-family:'Just Another Hand', cursive;
    font-size: 7rem;
    max-width:80%;
    margin: auto;
    color:white;
    text-align:center;
}
.pullquote{
    max-width:60%;
    font-size:1.5rem;
    margin:auto;
}
.main-content{
    margin:auto;
    margin-top: 6%;
    color:white;
    width:80%;
    justify-content: center;
    text-align:center;  
}
button.btn.btn-outline-secondary.start{
    font-size: 1.5rem;
    padding:1.5rem;
    margin:2rem;
    color: #625d8e;
    background-color: white;
}

button.btn.btn-outline-secondary.start:hover{

    color: white;
    background-color: #625d8e;
    border-color: white;
}

.input-group.email{
    width:40%;
    margin:auto;
    text-align:center;
}