<% include partials/_header.ejs %>

<h1>
    Choosing, simplified.
</h1><br>
<blockquote class="pullquote">
  Choosey boy lets you make simple <a href="https://en.wikipedia.org/wiki/Borda_count">ranked ballet</a> polls, and share them with your friends.<br>
    </blockquote>
    <a href="/new_poll">
        <button type="button" class="btn btn-outline-secondary start">
            <i class="fas fa-edit"></i>
            Create a poll
        </button>
    </a>
<br><br>
    <div class="input-group email">
        <input id="emaillist22"type="text" name="email" class="form-control" placeholder="Your e-mail address" aria-label="" aria-describedby="basic-addon1">
        <div class="input-group-append">
            <button id = "emaillist" class="btn btn-success submit_button" type="button"><i class="fas fa-search"></i> Find my polls</button>
        </div>
    </div>
    </div>
    <div class="col"></div>

    <% include partials/_footer.ejs %>

