<% include partials/_header.ejs %>

    <blockquote class="pullquote">
        With Choosey Boy you can vote on the choices that you were too indecicive to make before.
    </blockquote>

    <button type="button" class="btn btn-outline-secondary start">
        <i class="fas fa-edit"></i>
        Create a poll
    </button>

    <div class="input-group email">
        <input type="text" name="email" class="form-control" placeholder="Your e-mail address" aria-label="" aria-describedby="basic-addon1">
        <div class="input-group-append">
            <button class="btn btn-success submit_button" type="button"><i class="fas fa-search"></i> Find my polls</button>
        </div>
    </div> 
    </div>
    <div class="col"></div>
    
    <% include partials/_footer.ejs %>