<% include partials/_header.ejs %>

<div id="choose_title">
What are you choosing today?<br>
</div>
<input class="form-control form-control newPollTitle" type="text" placeholder="Ex: What's the ultimate breakfast food?">

<div class="input-group emailNewPoll">
  <div class="input-group-prepend">
    <div class="input-group-text">@</div>
  </div>
  <input type="text" class="form-control emailNewPoll" id="inlineFormInputGroupUsername2" placeholder="Dude@example.com" name="email">
</div>


<div class="option-container">
    <div class="ind_option">
            <div class="input-group">
                    <input type="text" class="form-control option_val" placeholder="Waffles" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                      <button class="btn btn-success" type="button"><i class="fas fa-backspace">    </i></button>
                    </div>
            </div>
     </div>

    <div class="ind_option">
            <div class="input-group">
                    <input type="text" class="form-control option_val" placeholder="Pancakes" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                      <button class="btn btn-success" type="button"><i class="fas fa-backspace">    </i></button>
                    </div>
                </div>
    </div>


</div> <!--end of options container-->

    <br>

    <button type="button" class="btn btn-outline-secondary start add-option">
        <i class="fas fa-plus-circle"></i>
        Another option
    </button>
    <br>

    <button type="button" class="btn btn-outline-secondary start subpoll">
        Create Poll
        <i class="fas fa-check-circle"></i>
    </button>



<% include partials/_footer.ejs %>
