<% include partials/_header.ejs %>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-label="Your's Question" aria-describedby="basic-addon1">
        <div class="input-group-append">
          <button class="btn btn-success" type="button">Love it</button>
        </div>
      </div>

<% include partials/_footer.ejs %>