<% include partials/_header.ejs %>


       <h1>Your Polls</h1><br>

      <%  pollList.forEach(function(key) {  %>
        <tr style="height:30px;">
          <div class="your_link">
            <form action="/poll/<%= key.id%>" method="POST">
              <td>
               <a href="/poll/<%= key.id%>"><h2>&middot <%= key.value%></h2></a>
              </td>
            </form>
          </div>
        </tr>

      <% })  %>

    <div class="col"></div>
<br>
    <a href="/new_poll">
      <button type="button" class="btn btn-outline-secondary start">
          <i class="fas fa-edit"></i>
          New poll
      </button>
    </a>

<% include partials/_footer.ejs %>
