<% include partials/_header.ejs %>
<h2>You're choosing: <%= pollName %></h4>
<h4>Poll id: <%= poll %></h2>

<div id="favourite">
    <i class="far fa-smile"></i>&nbsp;&nbsp;&nbsp;MOST&nbsp;FAVOURITEST&nbsp;&nbsp;&nbsp;<i class="far fa-smile"></i>
</div>

<div id="pollshow_options">
    <% value.forEach((option) => { %>

            <div class="container-fluid pollshow_indoption">
                    <div class="row align-items-center">
                        <div class="col-2 arrow">
                            <i class="fas fa-arrow-circle-up"></i>
                        </div>
                        <div class="col-8">
                            <div  class="option_text"><%=  option  %></div>
                        </div>
                        <div class="col-2 arrow">
                            <i class="fas fa-arrow-circle-down test"></i>
                        </div>
                    </div>
                </div>

 <% })%>

</div>



<div id="least_favourite">
    <i class="fas fa-angry"></i>&nbsp;&nbsp;&nbsp;LEAST&nbsp;FAVOURITEST&nbsp;&nbsp;&nbsp;<i class="fas fa-angry"></i>
</div>

<br>
<button type="button" id="pollshow_submit" class="btn btn-outline-secondary start">
    <i class="fas fa-check-circle"> </i>Done!
</button>



<% include partials/_footer.ejs %>
