<% include partials/_header.ejs %>
<blockquote class="pullquote">
        Make polls with us and get rich !!    LOL just kidding :)
    </blockquote>

       <h3>Your Polls</h3>

      <%  pollList.forEach(function(key) {  %>
        <tr style="height:30px;">
            <form action="/poll/<%= key.id%>" method="POST">
              <td>
               <a href="/poll/<%= key.id%>"><%= key.id +"--" +key.value%></a>
              </td>

            </form>
        </tr>

      <% })  %>

    <div class="col"></div>

<% include partials/_footer.ejs %>
