<% include partials/_header.ejs %>



<div class="links_label">
    Share <a href="<%= voteUrl %>">this link</a> with your pals:
 </div>
 <div class="input-group">
    <input type="text" class="form-control" value= <%= voteUrl %> >
</div>
    <br>
<div class="links_label">
    Go <a href= "<%= resultUrl %>">here</a> for results.<br> (don't worry, we e-mailed this to you):
</div>

<div class="input-group">
    <input type="text" id="link" class="form-control link" value= <%= resultUrl %> >

</div>

<br>
<a href="/new_poll">    
    <button type="button" class="btn btn-outline-secondary start">
        <i class="fas fa-edit"></i>
        New poll
    </button>
</a>





<% include partials/_footer.ejs %>
