<% include partials/_header.ejs %>



<div class="pullquote">
    Share this link with your pals:
 </div>
 <div class="input-group">
    <input type="text" class="form-control" readonly>
    <div class="input-group-append">
        <span class="input-group-text"><i class="far fa-copy"></i></span>
    </div>
</div>
    <br>
<div class="pullquote">    
    Go here for results.<br> (don't worry, we e-mailed this to you):
</div>
    
<div class="input-group">
    <input type="text" class="form-control" readonly>
    <div class="input-group-append">
        <span class="input-group-text" id="copy_button"><i class="far fa-copy"></i></span>
    </div>
</div>

<div id="BLOOPADOO">&&&BLOOPADOO&&&</div>
    


    
<% include partials/_footer.ejs %>