<% include partials/_header.ejs %>



<div class="links_label">
    Share this link with your pals:
 </div>
 <div class="input-group">
    <input type="text" class="form-control" value="localhost/8080/poll/(ID HERE)">
</div>
    <br>
<div class="links_label">    
    Go here for results.<br> (don't worry, we e-mailed this to you):
</div>
    
<div class="input-group">
    <input type="text" id="link" class="form-control link" value="localhost/8080/poll/(ID HERE)">

</div>

<br>
<a href="/new_poll">    
    <button type="button" class="btn btn-outline-secondary start">
        <i class="fas fa-edit"></i>
        New poll
    </button>
</a>

    



<% include partials/_footer.ejs %>