<% include partials/_header.ejs %>
<h4>Poll ID: <%= poll %></h4>
<h2>Poll Name: <%= pollName %></h2>

<div id="favourite">
    <i class="far fa-smile"></i>&nbsp;MOST&nbsp;FAVOURITEST&nbsp;<i class="far fa-smile"></i>
</div>
<br><!-- temporary-->
    <% value.forEach((option) => { %>


  <div id="pollshow_options">
        <div class="pollshow_indoption">

      <i class="fas fa-arrow-circle-up"></i>

       <div  class="option_text"><%=  option  %></div>

      <i class="fas fa-arrow-circle-down"></i>

      </div>
    <!--testing options-->

  </div>
  <% })%>
<br><!-- temporary-->


<div id="least_favourite">
    <i class="fas fa-angry"></i> LEAST FAVOURITEST <i class="fas fa-angry"></i>
</div>

<div id="pollshow_submit">

    <i class="fas fa-check-circle"> </i>Done!

</div>
    <% include partials/_footer.ejs %>
