<% include partials/_header.ejs %>

<div id="favourite">
    <i class="far fa-smile"></i>&nbsp;MOST&nbsp;FAVOURITEST&nbsp;<i class="far fa-smile"></i>
</div>
<br><!-- temporary-->

    <div id="pollshow_options">
            <div class="container-fluid pollshow_indoption">
                    <div class="row align-items-center">
                        <div class="col-2 arrow">          
                            <i class="fas fa-arrow-circle-up"></i>
                        </div>
                        <div class="col-8">     
                            <div  class="option_text">Option 1</div>
                        </div>
                        <div class="col-2 arrow">
                            <i class="fas fa-arrow-circle-down test"></i>
                        </div>
                    </div>
                </div>
    <!--testing options-->

    <div class="container-fluid pollshow_indoption">
        <div class="row align-items-center">
            <div class="col-2 arrow">          
                <i class="fas fa-arrow-circle-up"></i>
            </div>
            <div class="col-8">     
                <div  class="option_text">Option 2</div>
            </div>
            <div class="col-2 arrow">
                <i class="fas fa-arrow-circle-down test"></i>
            </div>
        </div>
    </div>

    <div class="container-fluid pollshow_indoption">
            <div class="row align-items-center">
                <div class="col-2 arrow">          
                    <i class="fas fa-arrow-circle-up"></i>
                </div>
                <div class="col-8">     
                    <div  class="option_text">Option 3</div>
                </div>
                <div class="col-2 arrow">
                    <i class="fas fa-arrow-circle-down test"></i>
                </div>
            </div>
        </div>    
</div>
    







<br><!-- temporary-->


<div id="least_favourite">
    <i class="fas fa-angry"></i> LEAST FAVOURITEST <i class="fas fa-angry"></i>
</div>

<div id="pollshow_submit">

    <i class="fas fa-check-circle"> </i>Done!
    
</div>
    <% include partials/_footer.ejs %>

