<% include partials/_header.ejs %>

<div id="favourite">
    <i class="far fa-smile"></i>&nbsp;MOST&nbsp;FAVOURITEST&nbsp;<i class="far fa-smile"></i>
</div>
<br><!-- temporary-->

<div id="pollshow_options">
    <div class="pollshow_indoption">
        <i class="fas fa-arrow-circle-up"></i>
            <div class="pollshow_optionbox">
                Hello joe
            </div>
        <i class="fas fa-arrow-circle-down"></i>
    </div>
</div>

<br><!-- temporary-->


<div id="least_favourite">
    <i class="fas fa-angry"></i> LEAST FAVOURITEST <i class="fas fa-angry"></i>
</div>
    <% include partials/_footer.ejs %>

