$bg-purp: #625d8e;

.whole_thing {
    background-color: $bg-purp;
    justify-content: center;
    background-image: url("/styles/images/square_bg.png");
}
.container.content_grid{
    width:100%;

}

.logotext{
    padding: 1rem;
    font-family:'Just Another Hand', cursive;
    font-size: 800%;

    margin: auto;
    color:white;
    text-align:center;
    text-shadow: .2rem .2rem darkgray;
    a{
        color:white;
    }
    a:hover{
        text-decoration: none;
        color:white;
    }
}
.pullquote{

    font-size: 1.5rem;
    margin-bottom: 15%;
    
}

.col-sm-6.maincon{
    color:white;
    text-align:center;

    
    button.btn.btn-outline-secondary.start{
        font-size: 1rem;
    
        color: $bg-purp;
        background-color: white;
        margin-bottom:5%;

    }
    button.btn.btn-outline-secondary.start:hover{
    
        color: white;
        background-color: $bg-purp;
        border-color: white;
    }

    button.btn.btn-success.submit_button{
        color: white;
        background-color:$bg-purp;
        border-color: white;    
    
    }
}

.ind_option{
    width:60%;
    margin: auto;   
    padding-bottom:2%;  
}
.ind_option button{
    color: white;
    background-color: rgba(255, 0, 0, 0.527);
    border-color:rgba(255, 0, 0, 0.527);
    border:none;
}
.ind_option button:hover{
    background-color: rgba(255, 0, 0, 0.527);
    border-color:rgba(255, 0, 0, 0.527); 
    border:none;
}

#choose_title{
    padding-bottom:2rem;
    font-size:1.5rem; 
  }